.container {
    position: relative;
    z-index: 1;
    cursor: pointer;
    padding: 1rem;
    margin: 1rem;
    outline: 1px solid blue;
}

.container:hover {
    color: white; background-color: blue;
}

.actionButtons {
    position: relative;
    z-index: 2;
}